<!DOCTYPE html>
<html lang="en">
  <head>
      <title>OctoPrint Server Demo</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=0.7">
      <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
      <script>
        //source: https://stackoverflow.com/questions/15678086/javascript-refresh-webpage-every-5s
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);",timeoutPeriod);
        };
      </script>
  </head>
  <body onload="JavaScript:timedRefresh(1000);">
    <header style="padding:4%; background-color:black; color: white;">
      <h5>Raw data:</h5>
      {{ raw_data_diagnostic }}
    </header>
    <div class="container" style="padding: 5%">
        <!-- upper status display (Offline, Inactive, Starting, Printing, Paused, Stopped; )-->
        {{ status_display_upper|safe }}
        <!-- upper context menu (Play, Pause, Restart, Stop; Bed Clear)-->
        {{ menu_context_upper|safe }}
        <!-- lower status display (Extruder Temp, Bed Temp)-->
        {{ status_display_lower|safe }}
        <!-- lower context menu (Start Print; Printer Settings)-->
        {{ menu_context_lower|safe }}
    </div>
  </body>
</html>